*{margin: 0;padding: 0;}


.d-block.p-3:hover{
    background-color: silver;
}

.d-block.p-3{
    background-color: #dee2e6;
    border: none;
}

.col-md-4{
    border-right: solid 1px silver;
    padding: 0;
    background-color: #fcfcfc;
}
.container-xl{
    box-shadow:2px 1px 17px 2px #d9d9d9;
}
