
*{
    margin: 0;
    padding: 0;
}



.bgr{
   
    background-color:#c0c0c017 ;

}
.col-md-3{
   
    border: solid 1px #ced4da;
    padding: 0;
    margin: 0;
}
.d-block.p-3:hover{
    background-color:#ced4da;
}
.col-md-8.right{
    margin-left: 3px;
    border: solid 1px #ced4da;
    
}
.InputFeedback{
    color: var(--color-neutral-700);
    font-style: italic;
    line-height: 1.4;
    opacity: .7;
}
.col-md-3{
    border: solid 1px #ced4da;
}
.inputfile{
    opacity: 0;
    position: absolute;
    left: 0;
}
button.btn.pass{
    border: solid 1px #ced4da;
    text-align: left;
    box-shadow: none;
    width: 100%;
}