.container{
    box-shadow: 0 1.5px 4px rgba(0,0,0,0.24), 0 1.5px 6px rgba(0,0,0,0.12);
    max-width: 850px;
}
a#navbarDropdown {
    color: sliver;
    font-size: 18px;
    font-weight: 600;
    font-family: cursive;
}
.dropdown-toggle::after{
    content: none;
}

.bgr{
    margin: 20px;
}
input#addtitle{
    border: none;
    border-bottom: solid 1px silver;
    box-shadow: none;

}
select#addlocation {
    box-shadow: none;
    border: none;
}


.form-group{
    border: none;
    border-bottom: solid 1px silver;
}
input#addnote{
    border: none;
    border-bottom: solid 1px silver;
    box-shadow: none;
}

.row{
    box-shadow: none;
}

.button{
    color: white;
    background-color: black;
    font-weight: 400;
    font-size: 24px;
    border-radius: 20px;
    border:none;
}
input.button.pt-2.pb-2.pl-3.pr-3.mt-4 {
    border-radius: 37px;
}
.button:hover{
    background-color: white;
    color: #000;
    border:solid 1px silver;
    transition: 2s;
}
